$data_class_style : 'grape--3' margin-left 15%,
                    'grape--2' margin-right 15%,
                    'grape--color1' background rgb(132, 20, 238),
                    'grape--color2' background rgb(156, 23, 209);

.grape {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    z-index: 9999;
    margin: -15px;
    margin-bottom: -38px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4),
        inset -2px -2px 4px rgba(0, 0, 0, 0.6),
        inset -8px 2px 4px rgba(255, 255, 255, 0.4);
}

@mixin class_style($class,$property,$value){

    .#{$class}{

        #{$property}:#{$value};
    }
}

@each $class, $property, $value in $data_class_style {
    
    @include class_style($class,$property ,$value );
}